@media screen and (max-width: 600px) {    

    body {
   background: var(black-color);

}

.firstsection{
    height: 520px;
}
.firstsection-leftdiv{
    width: 60%;
}
.firstsection-rightdiv{
    width: 40%;
}

.linkholder{
    flex-direction: column;
    padding-left: 40px;
}

.linkholder h4{
    margin-bottom: 20px;
}
.Heading{
    font-size: 25px;
}
.text{
    font-size: 16px;
}
.line{
    width: 200px;
}
   
}




